.sidebar {
    background: #fff;
    border: 6px solid #166f51;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    width: 350px;         /* fixed width */
    height: 500px;        /* fixed height */
    margin: 40px 40px 0 auto; /* top, right, bottom, left */
    padding: 24px;
    padding-left: 0%;
    box-sizing: border-box;
}