.app {
    display: flex;
    min-height: 80vh;
    align-items: flex-start; /* align items to the top */
}

.wraper {
    flex: 1; /* take up remaining space */
    display: flex;
    justify-content: center; /* center main content horizontally */
    align-items: flex-start; /* align main content to the top */
}